<%= content_tag :div, class: "concerts_this_month col-md-4" do%> 
  <h4>This month's next concerts:</h4>
  <% @concerts_this_month.each do |concert| %>
    <%= content_tag :div, class: "concerts_this_month" do%> 
      <p><%= link_to concert.band, concert_path(concert.id)%> day <%= concert.date.strftime("%d - %m - %Y")   %></p>

    <% end %>
  <% end %>
<% end %>





<%= display_flash_message %>

