
<%= content_tag :div, class: "concerts_today col-md-8" do %> 
  <p class="lead bg-danger">Concerts for <%= Date.today.strftime("%Y") %></p>
  <% @concerts.each do |concert| %>
    <div class = 'concert_today_details'>
      <div class = "concert_details col-md-8">
        <p ><%= concert.band %> at <%= concert.venue %>, <%= concert.city %></p>
        <p ><%= concert.date.strftime("%A, %d - %m") %>. Price <%= concert.price %>€</p>
        <p><%= concert.description %></p>
      </div>

      <div class="col-md-4">
        <div class='concert_details_tools'>
          <p style = "text-align: center">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            <%= link_to 'Comment', new_concert_comment_path(concert.id) %>
          </p>

          <p style = "text-align: center">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <%= link_to 'Edit', edit_concert_path(concert.id) %>
          </p>
            
        </div>
      </div>

    </div>
  <% end %>

<% end %>


<%= render 'concerts_layout' %>