<%= content_tag :div, class: "concerts_list col-md-8" do%> 
    
  <p class="lead">Most commented concerts <%= params[:price] %></p>
  <% for counter in 1..@concerts.maximum(:comments_count) do %>
  <% @concert_counter = @concerts.where(comments_count: counter) %>
  <%= binding.pry    %>
    <% @concert_counter.each do |concert| %>
    <div class = 'concert_today_details'>
      <p class="lead">With <%= counter %> comments</p>
      
      <div class = "concert_details col-md-8">
        <p ><%= concert.band %></p>
        <p ><%= concert.date %></p>
        <p>at <%= concert.venue %>, <%= concert.city %></p>
        <p>Price: <%= concert.price %>€</p>
        <p><%= concert.description %></p>
      </div>

      <div class="col-md-4">
        <div>
          <img src="" alt="here comes the photo">
        </div>
        <div class='concert_details_tools'>
          <p style = "text-align: center">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            <%= link_to 'Comment', new_concert_comment_path(concert.id) %>
          </p>

          <p style = "text-align: center">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <%= link_to 'Edit', edit_concert_path(concert.id) %>
          </p>

          <p style = "text-align: center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <%= link_to 'Details', concert_path(concert.id) %>
          </p>
            
        </div>
      </div>
      

    </div>
    <% end %>
  <% end %>

<% end %>


<%= render 'concerts_layout' %>